* {
  box-sizing: border-box;
  h3 {
    font-family: Selima;
    color: #f6f6f7;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-family: "Crimson Text", serif;
  }
}
body {
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  border: 5vh solid #151b28;
  background: #151b28;
  position: relative;
  z-index: -6;
  background: url(../../images/header.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: Selima;
    margin-top: 200px;
    font-size: 350px;
    color: #151b28;
  }
}

main {
  #muneIntroduction {
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45vh 15vh;
    .box {
      height: 100%;
      width: 100%;
      background: red;
      position: relative;
      background-size: cover;
      .overlay {
        top: 0;
        position: absolute;
        left: 0;
        transition: all 1s;
        height: 100%;
        width: 100%;
        background: rgba(17, 22, 32, 0.3);
      }
      .text {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        transition: all 1s;
        h2 {
          color: #d89b64;
          margin: 0;
        }
        hr {
          width: 30px;
        }
        p {
          margin: 0;
          color: white;
          font-family: "Montserrat", sans-serif;
        }
      }
      &:hover {
        .overlay {
          background: rgba(17, 22, 32, 0);
          transition: all 0.7s;
        }
        .text {
          left: 50%;
          top: 100%;
          transform: translate(-50%, -120%);
          transition: all 0.7s;
          transition-delay: 0.1s;
        }
      }
    }
    .box:nth-child(1) {
      background-image: url(../../images/Photo1.png);
    }
    .box:nth-child(2) {
      background-image: url(../../images/Photo2.png);
      background-position: center;
    }
    .box:nth-child(3) {
      background-image: url(../../images/Photo3.png);
    }
    > h2 {
      color: #d89b64;
      grid-column: 1 / span 3;
      widows: 100%;
      font-size: 23px;
      text-align: center;
    }
  }
  #details {
    height: 70vh;
    width: 100%;
    background-image: url(../../images/detailsBG.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .whiteBoard {
      background: white;
      width: 50%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80%;
        border: 2px solid #cccccc;
        h2 {
          margin: 0;
        }
        button {
          background: rgba(#fff, 0);
          border: 1px solid #cccccc;
          padding: 10px 20px;
          color: #d89b64;
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }
  #weTheBest {
    display: flex;
    justify-content: space-evenly;
    .box {
      width: 30%;
      height: 35vh;
      background: #d89b64;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        height: 100%;
        width: 100%;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(17, 22, 32, 0.6);
        transition: all 0.7s;
        &:hover {
          background: rgba(17, 22, 32, 0);
          transition: all 0.7s;
        }
        h2 {
          color: #d89b64;
          margin: 0;
          margin-bottom: 15px;
        }
        p {
          margin: 0;
          color: white;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
    .box:nth-child(1) {
      background: url(../../images/Photo4.jpg);
      background-size: cover;
      background-position: center;
    }
    .box:nth-child(2) {
      background: url(../../images/Photo5.jpg);
      background-size: cover;
      background-position: center;
    }
    .box:nth-child(3) {
      background: url(../../images/Photo6.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}
